!!!
%html
  %head
    %title= page_title
    %meta{name: :description, content: page_description}
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'HandheldFriendly', content: 'True'}
    %meta{name: 'MobileOptimized', content: 320}
    - ogp_tags do |name, value|
      %meta{property: name, content: value}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "styles"
    = yield_content :styles

  %body{:class => page_classes}
    = partial 'partials/navigation'

    - if is_blog_article?
      %main{role: "main"}= partial 'layouts/article', locals: { content: yield }
    - else
      %main{role: "main"}= yield

    %footer
      .container
        %p
          %small= "© DEVIN SCHULZ #{copyright}."

    = javascript_include_tag  "all"
    = yield_content :js

    - unless development?
      = google_analytics_universal_tag